/* p {
  font-size: 12px;
}
a {
  font-size: 12px;
}
.summary {
  margin-bottom: 10px;
}
.description {
  font-size: 10px;
}
.techSkills {
  display: none;
}
.titles {
  color: rgb(0, 0, 0);
  font-size: 2px;
} */


body{
  background: red;
}