@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Wix+Madefor+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

body {
  /* background: #fcffe7; */
  background: #fff;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}
.shimmer {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: rgba(45, 45, 45, 0.623);
}

#homepage {
  height: 100vh;
}
.home {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.homeLeft {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.imageSec {
  padding: 60px;
}
.imageSec img {
  border: 18px solid #fff;
  height: 400px;
  object-fit: cover;
  border-radius: 50%;
}
.textSec {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.greetTxt,
.nameTxt,
.roleTxt {
  color: #000;
}
.greetTxt {
  font-size: 25px;
  font-weight: 600;
}
.nameTxt {
  font-size: 45px;
  font-weight: 700;
}
.roleTxt {
  font-size: 25px;
  font-weight: 600;
}
.moreBtn {
  border: 3px solid rgb(255, 255, 255);
  background: #000000;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  letter-spacing: 2px;
}
.moreBtn:hover {
  transition: 0.5s ease-in-out;
  color: #000;
  background: #fff;
  border: 3px solid rgb(0, 0, 0);
}
.homeRight {
  background: rgb(255, 255, 255);
  height: 100vh;
  position: fixed;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 20px;
}
.homeRight a img {
  height: 40px;
  width: 40px;
}
.homeRight a {
  margin-bottom: 40px;
}
.homeRight a img:hover {
  transition: 0.2s;
  transform: scale(1.5);
}
.respoHomeNav {
  width: 100%;
  display: none;
  justify-content: flex-end;
}
.burgerMenu {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 10px;
}
.burgerMenu span {
  height: 2px;
  width: 20px;
  margin: 3px;
  background: #000;
}
@media screen and (max-width: 1200px) {
  .shimmer {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: rgba(45, 45, 45, 0.623);
  }
  .homeRight {
    display: none;
  }
  .respoHomeNav {
    display: flex;
  }
  .burgerList {
    transition: smooth 0.3s;
    position: absolute;
    top: 40px;
    right: 10px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 10px 20px 10px 20px;
    border-radius: 8px;
    box-shadow: inset;
  }
  .burgerList a {
    margin: 10px;
  }
  .burgerList a img {
    height: 20px;
    width: 20px;
  }
  .homeLeft {
    display: flex;
    flex-direction: column;
  }
  .imageSec {
    padding: 30px;
  }
}

@media screen and (max-width: 600px) {
  .shimmer {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: #0d0d0ddb;
  }
  .homeLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .imageSec {
    padding: 20px;
  }
  .imageSec img {
    height: 280px;
  }
  .greetTxt {
    font-size: 15px;
  }
  .nameTxt {
    font-size: 25px;
  }
  .roleTxt {
    font-size: 15px;
  }
}

@media (max-width: 420px) {
  .shimmer {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: #0d0d0ddb;
  }
  .homeLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .imageSec {
    padding: 10px;
  }
  .imageSec img {
    height: 250px;
  }
  .greetTxt {
    font-size: 15px;
  }
  .nameTxt {
    font-size: 25px;
  }
  .roleTxt {
    font-size: 15px;
  }
}

#about {
  height: 100vh;
  display: flex;
}
.aboutLeft {
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutLeft img {
  height: 400px;
  border: 15px solid #fff;
  border-radius: 50px;
}
.aboutRight {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: self-start;
}
.rightTop {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.aboutDesc{
  margin-top: 20px;
  border-radius: 20px;
  width: 740px;
  background: #fff;
  border: 3px solid black;
  padding: 10px 40PX;
  display: flex;
  justify-content: center;
  align-items: center;
}
.commonCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
  background: #fff;
  padding: 10px 100px;
  height: fit-content;
  border-radius: 20px;
}
.commonCard img {
  height: 60px;
}
.commonCard,
h1,
p,
img {
  margin-bottom: 0px;
}
.commonCard,
p {
  font-weight: 600;
  color: #000000;
}
.experience {
  margin-right: 40px;
}
